@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --primary_dark: #141414;
    --secondary_dark: #1b1b1b;
    --accent_color: #0073cf;
    --primary_light: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
    background-color: var(--primary_dark);
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color: var(--primary_light);
}

#main-body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.darkmode {
    --primary_dark: #f5f5f5;
    --secondary_dark: #1B1B1B;
    --primary_light: #141414;
    --accent_color: #0073cf;
}

/* HEADERS FOR EACH SECTION */
.section-headers {
    font-size: 2rem;
}


/* TOGGLE */
/* The switch - the box around the slider */
.switch {
    position: fixed;
    z-index: 99;
    margin: 20px;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
#toggle {
    position: fixed;
    z-index: 99;
    margin: 32px;
    bottom: 1vh;
    right: 0vh;
    background-color: rgba(0, 0, 0, 0);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: rgba(0, 0, 0, 0);
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary_light);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary_dark);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--primary_light);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--primary_light);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* NAVIGATION */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding:20px;
    max-width: 1280px;
    margin: 0 auto;
}

nav img {
    height: 40px;
}

img.disappear {
    display: none;
}

nav #items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

nav #items a {
    padding: 7.5px 10px;
    margin: 5px;
    cursor: pointer;
}

nav #items .item {
    display: inline-block;
    position: relative;
}
  
nav #items .item:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent_color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}


nav #items .item:hover {
    color: var(--accent_color);
}

nav #items .item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav #items a {
    text-decoration: none;
    color: var(--primary_light);
}

@media screen and (max-width: 850px)
{
    nav {
        display: flex;
        flex-direction: column;
        justify-content: start;   
        align-content: start;
    }

    nav .top-nav {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--primary_light);
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 60px;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
        background-color: #0073cf;
    }
      
    .change .bar2 {
        opacity: 0;
    }
      
    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
        background-color: #0073cf;
    }

    nav .bot-nav {
        width:100%;
    }

    nav .bot-nav.dont-dropdown #items {
        display: none;
    }

    nav #items {
        display: flex;
        flex-direction: column;
        justify-content: center;   
        align-content: center;
        width: 100%;
        margin-top: 10px;
    }
    
    nav #items a {
        padding: 0;
        margin: 10px 0;
    }
}

/* INTRO */
#intro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro h1 {
    font-size: 3rem;
}

/* SKILLS */
#skills {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills #skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#skills #skill-container #skill-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin-top: 40px;
}

#skills #skill-container #skill-groups .skill-group {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

#skills #skill-container #skill-groups .skill-group:hover {
    box-shadow: 0 0 10px 0 #000;
}

#skills #skill-container #skill-groups .skill-group .lists {
    margin-top: 20px;
    font-weight: lighter;
}

.logo-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#skills #skill-container #skill-groups .skill-group #two-lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.icons {
    margin-bottom: 20px;
}

/* PROJECTS */
#projects {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ABOUT ME */
#about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CONTACT ME */
#contact {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}